*{
    box-sizing: border-box;
}

/* Container for game */
.gamebox{
    width: 95%;
    /* background: lightgreen; */
    background-image: url('../images/Coliseum-in-Rome-Italy.jpg');
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    margin: auto;
    background-size: cover;
}
   
/* game title */
.title{
    width: 100%;
    border-bottom: 5px solid black;
    font-size: 40px;
    font-weight: bolder;
    /* color: white; */
}

/* instructions */
.instructions{
    margin-bottom: 20px;
    /* color: white; */
}

/* Unselected characters */
.unchosen{
    width: 55%;
    background-color: lightcoral;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 215px;  
}

.choices{
    position: relative;
    text-align: center;
}

.health{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: red;
    font-weight: bolder;
    font-size: 25px;
    background-color: yellow;
}


.unchosen:after {
    content: "";
    display: table;
    clear: both;
  }

/* Area to show chosen character vs opponent */
.battlefield{
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
}

/* Character display area */
.character{
    float: left;
    width: 25%;
    background-color: blue;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 215px;
}

/* Versus display between char and opponent */
.versus{
    float: left;
    width: 50%;
    background-color: grey;
    padding: 10px;
}

#attackButton{
    margin-top: 30px;
    margin-bottom: 30px;

}

/* Opponent display area */
.opponent{
    float: left;
    width: 25%;
    background-color: red;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 215px;

}

/* footer */
footer{
    clear: both;
    text-align: center;
    flex-shrink: 0;
}
        
